@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,600&display=swap');
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color:  #000000;
    color: white;
    
  }
  li{
    list-style: none;
  }